<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>BlenderFarmers</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/html5reset-1.6.1.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link href='http://fonts.googleapis.com/css?family=Passion+One:700,400' rel='stylesheet' type='text/css'>
    <!--[if IE]>
    <script src="/js/html5.js"></script>
    <![endif]-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
  </head>
  <body>
    <header>
      {% block header %}{% endblock %}
    </header>

    {% block content %}{% endblock %}

    <footer>
      {% block footer %}{% endblock %}
    </footer>
  </body>
</html>
